@font-face {
    font-family: roboto-regular;
    src: url(../../asset/font/Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-medium;
    src: url(../../asset/font/Roboto-Medium.woff);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../asset/font/Roboto-Bold.woff);
}
@font-face {
    font-family: ruda-regular;
    src: url(../../asset/font/Ruda-Regular.woff);
}
@font-face {
    font-family: ruda-medium;
    src: url(../../asset/font/Ruda-Medium.woff);
}
.projectbody-container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.projectbanner-bg {
    background-color: #2FA06D;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.projectbanner-con {
    text-align: center;
    width: 600px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.projectbar-container {
    border-radius: 20px;
}
.projectbar-btn {
    width: 200px;
    background-color: #ffffff;
    font-family: roboto-medium;
    padding: 8px;
    border-color: rgb(201, 199, 199);
    border: 1px solid;
    text-align: left;
    outline: none;
}
.projectbar-btnfirst {
    width: 200px;
    background-color: #ffffff;
    font-family: roboto-medium;
    padding: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: rgb(201, 199, 199);;
    border: 1px solid;
    text-align: left;
    outline: none;
}
.projectbar-btnlast {
    width: 200px;
    background-color: #ffffff;
    font-family: roboto-medium;
    padding: 8px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: rgb(201, 199, 199);;
    border: 1px solid;
    text-align: left;
    outline: none;
}
.subprojectbar {
    display: flex;
    background-color: #F0F0F0;
    flex-direction: column;
    width: 200px;
    font-family: roboto-regular;
}
.subprojectbar button {
    text-align: left;
}
.projectbody-content {
    margin-left: 80px;
}