@font-face {
    font-family: roboto-regular;
    src: url(../../asset/font/Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-medium;
    src: url(../../asset/font/Roboto-Medium.woff);
}
@font-face {
    font-family: ruda-regular;
    src: url(../../asset/font/Ruda-Regular.woff);
}
@font-face {
    font-family: ruda-medium;
    src: url(../../asset/font/Ruda-Medium.woff);
}
@font-face {
    font-family: lato-thin;
    src: url(../../asset/font/Lato-Thin.woff);
}
@font-face {
    font-family: lato-regular;
    src: url(../../asset/font/Lato-Regular.woff);
}
@font-face {
    font-family: lato-bold;
    src: url(../../asset/font/Lato-Bold.woff);
}
.project-bg {
    background-color: #F0F5F6;
    margin: auto 0;
    width: 100%;
}
.btn-headbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #F0F5F6;
    height: 40px;
    margin-right: 10px;
}
.filter-btn p {
    margin-left: 5px ;
}
.header-btn p {
    color: #111111;
    text-decoration: none;
}
.header-btn p:hover {
    color: #111111;
    text-decoration: none;
}
.header-btn {
    display: flex;
    align-items: center;
    background-color: #37C2A1;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    transition: all 0.25s ease;
    position: relative;
    margin-right: 10px;
}
.inactive-btn {
    display: flex;
    align-items: center;
    background-color: none;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    transition: all 0.25s ease;
    position: relative;
    margin-right: 10px;
}
.inactive-btn:hover, .inactive-btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #494848;
    transform: translate(-0.25em, -0.25em);
}
.inactive-btn p {
    font-family: roboto-bold;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 14px;
}
.inactive-btn p {
    margin-left: 5px;
}
.overview-main {
    display: flex;
    margin: 20px;
}
.overview-body {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #F0F5F6;
    margin: auto 0;
}
.project-con {
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.project-con.btn.btn-primary {
    padding: 0px;
}
.grid-gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
}
.project-image {
    margin: -4px;
}
.inner-con {
    padding: 10px;
}
.inner-header {
    display: flex;
    justify-content: flex-start;
    font-family: lato-bold;
    margin-bottom: -10px;
    margin-top: -15px;
}
.inner-desc {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
}
.overview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 600px;
}
