@font-face {
    font-family: roboto-regular;
    src: url(../../asset/font/Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-medium;
    src: url(../../asset/font/Roboto-Medium.woff);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../asset/font/Roboto-Bold.woff);
}
.register-bg {
    background: url(../../asset/image/Background-register.jpg) no-repeat;
    background-size: cover ;
    overflow: hidden;
}
.register-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container {
    height: 800px;
    width: 1100px;
    margin-bottom: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
}
.header-con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.navbar-label p {
    color: #ffffff;
    text-decoration: none;
}
.navbar-menu {
    display: flex;
}
.signin-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2FA06D;
}
.signin-link a {
    text-decoration: none;
    color: #2FA06D;
}
.signin-link p {
    color: #ffffff;
    margin-right: 10px;
}

