.projectheader-tab {
    display: flex;
    justify-content: space-between;
}
.dashboardtab-active {
    color: #2FA06D;
    text-decoration: none;
    border: none;
    border-bottom: 3px solid #2FA06D;
    background-color: transparent;
    animation-name: dashboardtab;
    animation-duration: 3s;
}
@keyframes dashboardtab-active {
    0% {top: 0px}
    100% {top: 200px}
}
.dashboardtab-inactive {
    color: #111111;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.dashboardtask-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.dashboardtask-complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}