@font-face {
    font-family: roboto-regular;
    src: url(../../asset/font/Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-medium;
    src: url(../../asset/font/Roboto-Medium.woff);
}
@font-face {
    font-family: ruda-regular;
    src: url(../../asset/font/Ruda-Regular.woff);
}
@font-face {
    font-family: ruda-medium;
    src: url(../../asset/font/Ruda-Medium.woff);
}
@font-face {
    font-family: lato-thin;
    src: url(../../asset/font/Lato-Thin.woff);
}
@font-face {
    font-family: lato-regular;
    src: url(../../asset/font/Lato-Regular.woff);
}
html, body, #root, .App {
    height: 100%;
}
.platform-bg {
    margin: auto 0;
}
.platform-body {
    display: flex;
}
.sidebar {
    width: 300px;
    height: 660px;
    box-shadow: 0.5em 0 0.5em -0.4em #494848;
}
.sidebar-container {
    width: 300px;
}
.everlogo {
    margin: 25px;
}
.sidebar-active {
    display: flex;
    background-color: #37C2A1;
}
.sidebar-active p {
    color: white;
    margin-left: 20px;
}
.inner-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.image-active {
    width: 20px;
    height: 20px;
}
.image-inactive {
    width: 20px;
    height: 20px; 
}
.sidebar-inactive {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.sidebar-inactive p {
    margin-left: 20px;
}
.image-inactive {
    width: 20px;
    height: 20px;
}
.platform-main {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.navbar-btn a {
    color: #111111;
    text-decoration: none;
}
.navbar-btn a:hover {
    color: #111111;
    text-decoration: none;
}
.navbar-btn {
    background-color: #019D4C;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25rem;
    border: none;
    transition: all 0.25s ease;
    position: relative;
    margin-right: 10px;
}
.navbar-btn:hover, .navbar-btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #494848;
    transform: translate(-0.25em, -0.25em);
}
.navbar-btn a {
    font-family: roboto-bold;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;

    font-size: 14px;
}
.navbar-btn a:hover, .navbar-btn a:focus {
    text-decoration: none;
    color: white;
}
.sticky { 
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    transition: 0 0.5s;
}