@font-face {
    font-family: roboto-regular;
    src: url(../../asset/font/Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-medium;
    src: url(../../asset/font/Roboto-Medium.woff);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../asset/font/Roboto-Bold.woff);
}
.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-header p {
    color: #2FA06D;
    font-family: roboto-medium;
}
.signin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signin-input {
    margin: 5px;
    width: 324px;
    height: 36px;
    border-radius: 30px;
    border: transparent;
    padding-left: 20px;
}
.signin-btn {
    margin-top: 20px;
    width: 350px;
    height: 40px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: #ffffff;
    background-color: #2FA06D;
    border-radius: 20px;
    font-family: roboto-regular;
}
.signin-btn:hover {
    border: 2px solid #2FA06D;
    color: #2FA06D;
    background: #ffffff;
    text-decoration: none;
}