@font-face {
    font-family: roboto-regular;
    src: url(../../asset/font/Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-medium;
    src: url(../../asset/font/Roboto-Medium.woff);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../asset/font/Roboto-Bold.woff);
}
.annomed-main {
    display: flex;
    flex-direction: row;
}
.annomed-blue {
    font-family: roboto-bold;
    color: #1F5390;
}
.annomed-green {
    font-family: roboto-bold;
    color: #2FA06D;
}
.annomed-image {
    width: 70px;
    height: 70px;
    margin-top: -10px;
}
.anno-content {
    padding: 70px;
}
.anno-subcontent {
    font-family: roboto-bold;
    margin-top: 20px;
}
.anno-maindesc {
    font-family: roboto-bold;
    color: #2FA06D;
    margin-top: 20px;
}
.anno-subdesc {
    font-family: roboto-regular;
    margin-top: 20px;
}
.register-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container {
    height: 800px;
    width: 1100px;
    margin-bottom: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
}
.main-content {
    background-color: #ffffff;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.navbar-label p {
    color: #ffffff;
}
.menu-link a {
    color: #2FA06D;
}
.menu-link {
    color: #2FA06D;
}
.main-input {
    background-color: #C4C4C480;
    width: 50%;
    height: 800px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question-header h3{
    font-family: roboto-bold;
    color: #2FA06D;
    font-size: 26px;
    margin-top: 40px;
}
.signup-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-control {
    width: 300px;
    height: 46px;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: #ffffff;
    display: flex;
}
.form-input {
    border: none;
    outline: none;
}
.form-date {
    margin-top: 12px;
    border: none;
    outline: none;
}
.icon {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-btn {
    margin-top: 20px;
    width: 350px;
    height: 40px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: #ffffff;
    background-color: #2FA06D;
    border-radius: 20px;
    font-family: roboto-regular;
}
.signup-btn:hover {
    border: 2px solid #2FA06D;
    color: #2FA06D;
    background: #ffffff;
    text-decoration: none;
}
.question-subheader {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-uploader {
    display: flex;
}
.info-uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: #90919380;
    margin-left: 15px;
    border-radius: 20px;
}
.info-uploader p {
    font-size: 11px;
    font-family: roboto-regular;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 4px;
    background-color: #ffffff;
}