.projectcreate-container {
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    /* padding: 10px ; */
}
.projectcreate-header {
    border-bottom: 1px solid grey;
}
.projectcreate-header p {
    margin-left: 12px;
}
.projectcreate-con {
    background-color: #F6F6F6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.projectcreate-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}
.projecttype-tag {
    display: flex;
}
.projectinput-submit {
    margin-top: 20px;
}

